
@{
    ViewBag.Title = "ManageAccount";
}


<html>

<head>
    <style>

        .field_class {
            width: 100%;
            border-radius: 6px;
            border-style: solid;
            border-width: 1px;
            height: 30px;
            width: 195px;
            padding: 9px 0px;
            text-indent: 9px;
            margin-top: 3px;
            margin-bottom: 5px;
            font-family: 'system-ui';
            font-size: 15px;
            /*0.9rem;*/
        }

        .btnConfirm {
            border-style: none;
            border-radius: 5px;
            border-color: inherit;
            border-width: medium;
            background-color: #04AA6D;
            color: floralwhite;
            padding: 4px 8px;
            font-size: 12px;
            margin: 8px 0;
            cursor: pointer;
            position: center;
            font-family: 'system-ui';
            text-transform: uppercase;
            letter-spacing: .8px;
            box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
            /*  border-radius:100px;
        */
        }


            .btnConfirm:hover {
                opacity: 0.8;
            }
    </style>


</head>

<body>

    <br />
    <br />

    <div style="float: left; block-size: fit-content; width: 36%; padding: 10px;  background-color: white; margin-left: 450px; border: 1px solid lightgrey; border-radius: 8px; font-family: 'system-ui'; box-shadow: 5px 5px 10px rgb(0,0,0,0.3); " class="border">

        <center>
            <asp:Label runat="server" Text="Label" style="  font-size:20px;">Admin </asp:Label>
        </center>
        <br />


        <left>
            <asp:Label runat="server" Text="Label" style="margin-left: 20px; margin-right: 32px">Username: </asp:Label>
            <input type="text" id="adminuser" name="adminuser" class="field_class" style="width:260px; height:8px;" />
            <br />
            <asp:Label runat="server" Text="Label" style="margin-left: 20px; margin-right: 38px">Password: </asp:Label>
            <input type="text" id="adminpass" name="adminpass" class="field_class" style="width:260px; height:8px;" />
            <br />

            <br />
            <center>
                <input type="button" class="btnConfirm" name="btnsbmt" value="Edit" style="width: 40%; height: 30px;" />
            </center>
        </left>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div style="float: left; block-size: fit-content; width: 36%; padding: 10px; background-color: white; margin-left: 450px; margin-top: 30px; border: 1px solid lightgrey; border-radius: 8px; font-family: 'system-ui'; box-shadow: 5px 5px 10px rgb(0,0,0,0.3); " class="border">

        <center>
            <asp:Label runat="server" Text="Label" style="  font-size:20px;">User </asp:Label>
        </center>
        <br />


        <left>
            <asp:Label runat="server" Text="Label" style="margin-left: 20px; margin-right: 32px">Username: </asp:Label>
            <input type="text" id="user" name="user" class="field_class" style="width:260px; height:8px;" />
            <br />
            <asp:Label runat="server" Text="Label" style="margin-left: 20px; margin-right: 38px">Password: </asp:Label>
            <input type="text" id="pass" name="pass" class="field_class" style="width:260px; height:8px;" />
            <br />

            <br />
            <center>
                <input type="button" class="btnConfirm" name="btnsbmt" value="Edit" style="width: 40%; height: 30px;" />
            </center>
        </left>
    </div>



</body>
</html>


<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $().ready(function () {

        $("#adminuser").attr("disabled", "disabled");
        $("#adminpass").attr("disabled", "disabled");
        $("#user").attr("disabled", "disabled");
        $("#pass").attr("disabled", "disabled");


        var itmprice = $(this).closest('.prod').find('.price').html().split(':').pop();
        alert(itmprice);

        //btnBill


    });


    $("#btnConfirm").click(function () {



    });

  

</script>


